@using YanheeHospital.Helpers
<!DOCTYPE html>
<html>
    <head>
        <title>Yanhee Hospital</title>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.colorbox-min.js")"></script>
        <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/Site.css")" />
        <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/colorbox/colorbox.css")" />
        @RenderSection("styles", required: false)
    </head>
    <body>
        <div id="header" class="content-wrapper">
            Yanhee瘦身医院 您最信赖的选择
        </div>
        <div id="body">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="content-wrapper">
            <p>&copy; @DateTime.Now.ToDefaultTargetGmtTime().Year - Yanhee.eu</p>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
