@using YanheeHospital.Helpers
@model YanheeHospital.ViewModels.UserCollectAnswerViewModel

@section styles{
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/UserCollectAnswer.css")" />
}

@if (!Model.IsUserAuthenticated)
{
    <h2>对不起, 您没有权限打开此页面...</h2>
}
else
{
    if (Model.User.IsAnswered == true && !Model.IsAdminViewAnswer)
    {
        <h2>您的信息已成功提交，请耐心等待回复...</h2>
    }
    else
    {
        using (Html.BeginForm("CollectAnswer", "User")) { 
            @Html.HiddenFor(x => x.UserAnswer.UserId)
            @Html.HiddenFor(x => x.IsUserAuthenticated)
            @Html.HiddenFor(x => x.IsAdminViewAnswer)
            @Html.HiddenFor(x => x.User.Password)
            @Html.HiddenFor(x => x.User.IsAnswered)
            @Html.HiddenFor(x => x.User.Email)
            @Html.HiddenFor(x => x.User.Id)
            @Html.HiddenFor(x => x.User.Name)
            <table width="100%">
                <tr>
                    <td>&nbsp;</td>
                    <td class="table-title-wrapper"><h2>然禧减肥代购（新客户填写）</h2></td>
                    <td class="clear-fix">
                        @if (Model.IsAdminViewAnswer)
                        {
                            @: &nbsp;
                        }
                        else
                        {
                            <div class="float-left" id="instruction-entrance">
                                帮助信息
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td width="250"><label>邮寄地址</label></td>
                    <td width="310">@Html.TextBoxFor(x => x.UserAnswer.PostAddress)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.PostAddress)</td>
                </tr>
                <tr>
                    <td><label>电话</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.Telephone)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.Telephone)</td>
                </tr>
                <tr>
                    <td><label>诊疗卡号</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.TherapyCardId)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.TherapyCardId)</td>
                </tr>
                <tr>
                    <td><label>中文姓名/性别</label></td>
                    <td>
                        <div class="clear-fix">
                            <div class="float-left">
                                @Html.TextBoxFor(x => x.UserAnswer.ChineseName, new { @class = "short" })
                            </div>
                            <div class="float-left radio-container radio-container-non-first">
                                @foreach (var item in Model.GenderDictionary)
                                {
                                    <input type="radio" name="UserAnswer.Gender" value="@item.Key" @(item.Key == Model.UserAnswer.Gender ? "checked='checked'" : string.Empty) /> @item.Value 
                                }
                            </div>
                        </div>
                    </td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.ChineseName)</td>
                </tr>
                <tr>
                    <td><label>出生年/月/日</label></td>
                    @*<td>@Html.TextBoxFor(x => x.UserAnswer.Birthdate, new { @class = "short" })</td>*@
                    <td>
                        <div class="radio-container">
                            <select name="UserBirthdateYear">
                                @for (int i = DateTime.Now.ToDefaultTargetGmtTime().Year; i > 1900; i--)
                                {
                                    <option value="@i" @(Model.UserBirthdateYear == i ? "selected='selected'" : string.Empty)>@i</option>
                                }
                            </select>年
                            <select name="UserBirthdateMonth">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i" @(Model.UserBirthdateMonth == i ? "selected='selected'" : string.Empty)>@i</option>
                                }
                            </select>月
                            <select name="UserBirthdateDay">
                                @for (int i = 1; i <= 31; i++)
                                {
                                    <option value="@i" @(Model.UserBirthdateDay == i ? "selected='selected'" : string.Empty)>@i</option>
                                }
                            </select>日
                        </div>
                    </td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.Birthdate)</td>
                </tr>
                <tr>
                    <td><label>身高/体重</label></td>
                    <td>
                        <div class="clear-fix">
                            <div class="float-left">@Html.TextBoxFor(x => x.UserAnswer.Height, new { @class = "short" }) Cm</div>
                            <div class="float-left">@Html.TextBoxFor(x => x.UserAnswer.Weight, new { @class = "short" }) Kg</div>
                        </div>
                    </td>
                    <td>
                        @Html.ValidationMessageFor(x => x.UserAnswer.Height)<br />
                        @Html.ValidationMessageFor(x => x.UserAnswer.Weight)
                    </td>
                </tr>
                <tr>
                    <td><label>一天中哪餐饭吃得最多</label></td>
                    <td>
                        <div class="radio-container">
                            @foreach (var item in Model.DinnerDictionary)
                            {
                                <input type="radio" name="UserAnswer.EatMostDinner" value="@item.Key" @(item.Key == Model.UserAnswer.EatMostDinner ? "checked='checked'" : string.Empty) /> @item.Value
                            }
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>喜不喜欢吃零食</label></td>
                    <td>
                        <div class="radio-container">
                            <input type="radio" name="UserAnswer.IsLikeSnack" value="true" @(Model.UserAnswer.IsLikeSnack ? "checked='checked'" : string.Empty) /> 喜欢
                            <input type="radio" name="UserAnswer.IsLikeSnack" value="false" @(!Model.UserAnswer.IsLikeSnack ? "checked='checked'" : string.Empty) /> 不喜欢
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr class="group-row">
                    <td><label>是否食物/药物过敏</label></td>
                    <td>
                        <div class="radio-container">
                            <input data-control="IsAllergic" type="radio" name="UserAnswer.IsAllergic" value="true" @(Model.UserAnswer.IsAllergic ? "checked='checked'" : string.Empty) /> 是
                            <input data-control="IsAllergic" type="radio" name="UserAnswer.IsAllergic" value="false" @(!Model.UserAnswer.IsAllergic ? "checked='checked'" : string.Empty) /> 否
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr data-under-control="IsAllergic">
                    <td><label>过敏食物/药名</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.AllergyDetail)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.AllergyDetail)</td>
                </tr>
                <tr class="group-row">
                    <td>
                        <label>
                            是否有重大疾病
                            <br />
                            (如：心脏病，糖尿病，血压高低)
                        </label>
                    </td>
                    <td>
                        <div class="radio-container">
                            <input type="radio" name="UserAnswer.HaveSeriousDesease" value="true" @(Model.UserAnswer.HaveSeriousDesease ? "checked='checked'" : string.Empty) /> 是
                            <input type="radio" name="UserAnswer.HaveSeriousDesease" value="false" @(!Model.UserAnswer.HaveSeriousDesease ? "checked='checked'" : string.Empty) /> 否
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr class="group-row">
                    <td><label>是否曾服用过减肥药</label></td>
                    <td>
                        <div class="radio-container">
                            <input data-control="HavePreviousDietMedicine" type="radio" name="UserAnswer.HavePreviousDietMedicine" value="true" @(Model.UserAnswer.HavePreviousDietMedicine ? "checked='checked'" : string.Empty) /> 是
                            <input data-control="HavePreviousDietMedicine" type="radio" name="UserAnswer.HavePreviousDietMedicine" value="false" @(!Model.UserAnswer.HavePreviousDietMedicine ? "checked='checked'" : string.Empty) /> 否
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr data-under-control="HavePreviousDietMedicine">
                    <td><label>服用过减肥药药名</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.PreviousDietMedicineDetail)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.PreviousDietMedicineDetail)</td>
                </tr>
                <tr data-under-control="HavePreviousDietMedicine">
                    <td><label>曾服用时间</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.PreviousDietMedicineDuringTime)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.PreviousDietMedicineDuringTime)</td>
                </tr>
                <tr data-under-control="HavePreviousDietMedicine">
                    <td><label>到目前为止已停药多久</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.PreviousDietMedicineStopTime)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.PreviousDietMedicineStopTime)</td>
                </tr>
                <tr data-under-control="HavePreviousDietMedicine">
                    <td><label>服药期间是否有不良的副作用</label></td>
                    <td>
                        <div class="radio-container">
                            <input type="radio" name="UserAnswer.IsPreviousDietMedicineHaveSideEffect" value="true" @(Model.UserAnswer.IsPreviousDietMedicineHaveSideEffect ? "checked='checked'" : string.Empty) /> 是
                            <input type="radio" name="UserAnswer.IsPreviousDietMedicineHaveSideEffect" value="false" @(!Model.UserAnswer.IsPreviousDietMedicineHaveSideEffect ? "checked='checked'" : string.Empty) /> 否
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr class="group-row">
                    <td><label>是否长期服用其他的药物</label></td>
                    <td>
                        <div class="radio-container">
                            <input type="radio" name="UserAnswer.IsHavingOtherMedicine" value="true" @(Model.UserAnswer.IsHavingOtherMedicine ? "checked='checked'" : string.Empty) /> 是
                            <input type="radio" name="UserAnswer.IsHavingOtherMedicine" value="false" @(!Model.UserAnswer.IsHavingOtherMedicine ? "checked='checked'" : string.Empty) /> 否
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>是否抽烟/喝酒</label></td>
                    <td>
                        <div class="clear-fix">
                            <div class="float-left radio-container">
                                <input type="radio" name="UserAnswer.IsSmoking" value="true" @(Model.UserAnswer.IsSmoking ? "checked='checked'" : string.Empty) /> 抽烟
                                <input type="radio" name="UserAnswer.IsSmoking" value="false" @(!Model.UserAnswer.IsSmoking ? "checked='checked'" : string.Empty) /> 不抽烟
                            </div>
                            <div class="float-left radio-container radio-container-non-first">
                                <input type="radio" name="UserAnswer.IsDrinkingAlcohol" value="true" @(Model.UserAnswer.IsDrinkingAlcohol ? "checked='checked'" : string.Empty) /> 喝酒
                                <input type="radio" name="UserAnswer.IsDrinkingAlcohol" value="false" @(!Model.UserAnswer.IsDrinkingAlcohol ? "checked='checked'" : string.Empty) /> 不喝酒
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>是否便秘/失眠</label></td>
                    <td>
                        <div class="clear-fix">
                            <div class="float-left radio-container">
                                <input type="radio" name="UserAnswer.IsConstipate" value="true" @(Model.UserAnswer.IsConstipate ? "checked='checked'" : string.Empty) /> 便秘
                                <input type="radio" name="UserAnswer.IsConstipate" value="false" @(!Model.UserAnswer.IsConstipate ? "checked='checked'" : string.Empty) /> 不便秘
                            </div>
                            <div class="float-left radio-container radio-container-non-first">
                                <input type="radio" name="UserAnswer.IsInsomnic" value="true" @(Model.UserAnswer.IsInsomnic ? "checked='checked'" : string.Empty) /> 失眠
                                <input type="radio" name="UserAnswer.IsInsomnic" value="false" @(!Model.UserAnswer.IsInsomnic ? "checked='checked'" : string.Empty) /> 不失眠
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>平时一般几点睡觉？</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.SleepTime)</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.SleepTime)</td>
                </tr>
                <tr>
                    <td>
                        <label>
                            这次想购买几个疗程的减肥药
                            <br />
                            (一个疗程是 28 天的药量)
                        </label>
                    </td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.ExpectedDietMedicineTherapy, new { @class = "short" }) 疗程</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.ExpectedDietMedicineTherapy)</td>
                </tr>
                <tr>
                    <td><label>理想体重</label></td>
                    <td>@Html.TextBoxFor(x => x.UserAnswer.IdealWeight, new { @class = "short" }) Kg</td>
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.IdealWeight)</td>
                </tr>
                <tr>
                    @if (Model.IsAdminViewAnswer)
                    {
                        <td>
                            <label>想和医生说些什么</label>
                        </td>
                        <td>
                            @Model.UserAnswer.MessageToDoctor
                        </td>
                    }
                    else
                    {
                        <td class="important-info" title="这一栏很重要，因为不能亲自到医院去只能代购拿表格给医生。除了上面的信息就全靠你自己的描述了，医生会根据你的描述开药。主要填写你的生活习惯，比如作息时间规律不规律，会不会定期做一些运动，饮食习惯（有些女孩子胃不太好的都可以写上）等等。如果有重大病史一定要写明白，特别是心脏，血糖，血压类的以及曾经的病史。这直接影响我们吃到的药的种类~~并写清是否痊愈。">
                            <label>想和医生说些什么</label>
                        </td>
                        <td>@Html.TextAreaFor(x => x.UserAnswer.MessageToDoctor, new { @class="message-text-area" })</td>
                    }
                    <td>@Html.ValidationMessageFor(x => x.UserAnswer.MessageToDoctor)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @if (Model.IsAdminViewAnswer)
                        {
                            @Html.ActionLink("返回", "Index")
                        }
                        else
                        {
                            <input type="submit" value="提交" />
                        }
                    </td>
                    <td></td>
                </tr>
            </table>
        }
    }
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/MyScripts/userCollectAnswer.js")"></script>
    <script type="text/javascript">
        userCollectAnswer.initPage();
    </script>
}