@model YanheeHospital.ViewModels.UserIndexViewModel
@section styles{
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/UserIndex.css")" />
}
<div class="clear-fix">
    <div class="float-left">
        @using(Html.BeginForm("Create", "User")){
            <table>
                <tr>
                    <td><label>姓名</label></td>
                    <td>@Html.EditorFor(x => x.CurrentUser.Name)</td>
                    <td>@Html.ValidationMessageFor(x => x.CurrentUser.Name)</td>
                </tr>
                <tr>
                    <td><label>邮箱</label></td>
                    <td>@Html.EditorFor(x => x.CurrentUser.Email)</td>
                    <td>@Html.ValidationMessageFor(x => x.CurrentUser.Email)</td>
                </tr>
                <tr>
                    <td><label>密码</label></td>
                    <td>@Html.EditorFor(x => x.CurrentUser.Password)</td>
                    <td>@Html.ValidationMessageFor(x => x.CurrentUser.Password)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="添加" /></td>
                </tr>
            </table>
        }
    </div>
    <div class="float-right">
        <div>@Html.ActionLink("退出", "AdminLogout")</div>
        <div class="form-title">
            管理您的客户
        </div>
    </div>
</div>
<div class="data-view-table-container">
    <table class="data-view-table" width="100%">
        <tr>
            <th width="40">序号</th>
            <th width="80">姓名</th>
            <th width="100">邮箱</th>
            <th width="80">密码</th>
            <th width="85">发送邮件</th>
            <th width="165">发送时间</th>
            <th width="90">查看答案</th>
            <th width="165">作答时间</th>
            <th width="85">作答链接</th>
            <th width="40">删除</th>
        </tr>
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            var item = Model.Users[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>
                    @if (item.IsInvitationEmailSent == true)
                    {
                        @Html.ActionLink("重新发送", "SendEmail", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("发送邮件", "SendEmail", new { id = item.Id })
                    }
                </td>
                <td class="long-time-wrapper">@item.InvitationEmailSentTime</td>
                <td>
                    @if (item.IsAnswered == true)
                    {
                        @Html.ActionLink("查看答案", "ViewAnswer", new { id = item.Id }, new { target = "_blank" })
                    }
                    else
                    {
                        @: 未提交问卷
                    }
                </td>
                <td class="long-time-wrapper">@item.AnswerTime</td>
                <td>@Html.ActionLink("作答链接", "CollectAnswer", new { id = item.Id, password = item.Password }, new { target = "_blank" })</td>
                <td>@Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class="user-delete-link", username = item.Name })</td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/MyScripts/userIndex.js")"></script>
    <script type="text/javascript">
        userIndex.initPage();
    </script>
}

