@model YanheeHospital.ViewModels.UserIndexViewModel
@section styles{
    <style type="text/css">
        label
        {
            text-align:right;
        }
        .data-view-table-container
        {
            padding-top:20px;
        }
        .data-view-table th, .data-view-table td
        {
            text-align:center;
            padding:0;
            border:1px solid #444;
            height:25px;
        }
        .data-view-table tr:nth-child(even) td
        {
            background-color:#D3DCE0;
        }
    </style>
}
<div>
    @using(Html.BeginForm("Create", "User")){
        <table>
            <tr>
                <td><label>姓名</label></td>
                <td>@Html.EditorFor(x => x.CurrentUser.Name)</td>
                <td>@Html.ValidationMessageFor(x => x.CurrentUser.Name)</td>
            </tr>
            <tr>
                <td><label>邮箱</label></td>
                <td>@Html.EditorFor(x => x.CurrentUser.Email)</td>
                <td>@Html.ValidationMessageFor(x => x.CurrentUser.Email)</td>
            </tr>
            <tr>
                <td><label>密码</label></td>
                <td>@Html.EditorFor(x => x.CurrentUser.Password)</td>
                <td>@Html.ValidationMessageFor(x => x.CurrentUser.Password)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="添加" /></td>
            </tr>
        </table>
    }
</div>
<div class="data-view-table-container">
    <table class="data-view-table" width="100%">
        <tr>
            <th width="50">序号</th>
            <th width="80">姓名</th>
            <th width="100">邮箱</th>
            <th width="80">密码</th>
            <th width="100">发送邮件</th>
            <th width="145">发送时间</th>
            <th width="100">查看答案</th>
            <th width="145">作答时间</th>
            <th width="100">作答链接</th>
        </tr>
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            var item = Model.Users[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>
                    @if (item.IsInvitationEmailSent == true)
                    {
                        @Html.ActionLink("重新发送", "SendEmail", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("发送邮件", "SendEmail", new { id = item.Id })
                    }
                </td>
                <td>@item.InvitationEmailSentTime</td>
                <td>
                    @if (item.IsAnswered == true)
                    {
                        @Html.ActionLink("查看答案", "ViewAnswer", new { id = item.Id })
                    }
                    else
                    {
                        @: 未提交问卷
                    }
                </td>
                <td>@item.AnswerTime</td>
                <td>@Html.ActionLink("作答链接", "CollectAnswer", new { id = item.Id, password = item.Password })</td>
            </tr>
        }
    </table>
</div>

